header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.productos{                 /*selector de clase productos*/
    width: 940px;           /*optimo para screen con ancho de 980px*/
    margin: 0 auto;         /*margen lateral automatico*/
    padding: 50px;          /*espaciado*/
}


.productos li{              /*selector de clase productos de lista*/
    display: inline-block;  /*propiedad display - elementos colocados uno al lado de otro, puede ajustarse a lo largo y ancho*/
    text-align: center;
    width: 30%;             /*distribucion proporcional de elementos*/
    vertical-align: top;
    /*backgroud: #CCCCCC    auxiliar para verificar proporcion de imagenes*/
    margin: 0 1.5%;         /*margen interno*/
    padding: 30px 20px;     /*amplia relleno para igualar tamaño de imagen, aumentandolo el contenido del elemento*/
    box-sizing: border-box; /*quita salto de línea, verificando el borde exterior sin rebasar el limite*/
}


.productos h2{              /*selector de encabezado de lista*/
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}
