body{
    background: #CCCCCC;  /*presentación, color del fondo en HEX*/
}

p{
    text-align: center;     /*alineación del texto, CENTRAR*/
}

em strong{
    color:red;            /*presentación, color del texto en inglés*/

}
